<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.cn.saya.jdbc.dao.MemberMappin">

    <!--查询用户-->
    <select id="getMemberList"  parameterType="MemberEntity"  resultType="MemberEntity">
        select * from member
    </select>
</mapper>